<div class="container">
  <div class="field"></div>
  <h1>{{match?.teamA?.name}} Vs. {{match?.teamB?.name}}</h1>
  <button nz-button
          nzType="primary"
          (click)="startMatch()" 
          [hidden]="match?.started">
    Iniciar partido
  </button>
  <button nz-button
          nzType="primary"
          (click)="startSecondHalf()" 
          [disabled]="!match || match.isSecondHalf"
          [hidden]="match?.timer != 10 || match?.isSecondHalf">
    Pasar al segundo tiempo
  </button>
  <button nz-button
          nzType="primary"
          (click)="resetMatch()" 
          [hidden]="!match?.ended">
    Reiniciar partido
  </button>
  <div class="teams">
    <app-team [team]="match!.teamA"></app-team>
    <app-team [team]="match!.teamB"></app-team>
  </div>
  <div *ngIf="match" class="matchStats">
    <h2>Tiempo transcurrido: {{ match.timer }} segundos</h2>
    <h2>Marcador: {{ match.score.teamA }} - {{ match.score.teamB }}</h2>
  </div>
</div>


<router-outlet />